@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.form {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}
  
.form input {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  