@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    color:black
}

.card-img-top {
    width: 100%;
    height: 15vw; 
    object-fit: cover; 
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: #bd5d38;
  }